@charset "UTF-8";
@font-face {
  font-family: "montserrat";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/montserrat/montserrat-regular-webfont.woff2);
}
@font-face {
  font-family: "montserrat";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/montserrat/montserrat-bold-webfont.woff2);
}
@font-face {
  font-family: "montserrat";
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/montserrat/montserrat-light-webfont.woff2);
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

a {
  display: block;
}

.header {
  background-color: #222222;
  position: relative;
  -webkit-box-shadow: -2px 2px 17px 1px #222222;
          box-shadow: -2px 2px 17px 1px #222222;
  z-index: 1337;
}
.header .logo-link {
  display: none;
}
.header .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header-buttons-wrapper {
  display: none;
}
.header .burger-button {
  padding: 18px 0;
  display: inline-block;
}
.header .shopping-basket {
  padding: 18px 0;
  display: inline-block;
}
.header .header-menu {
  display: none;
}

.wrapper {
  padding-right: 16px;
  padding-left: 16px;
}

.filters-beardoil-wrapper {
  display: block;
}

.pic-wrapper {
  min-width: 320px;
  position: relative;
}

.main-pic {
  background-image: url(../img/images/mainscreenphoto.png);
  background-repeat: no-repeat;
  background-size: 340%;
  background-position: 90% 25%;
  height: 409px;
  position: relative;
}

.main-pic:before {
  content: "";
  display: block;
  width: 100%;
  height: 409px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF7A00), to(rgba(255, 122, 0, 0.1)));
  background-image: linear-gradient(to bottom, #FF7A00, rgba(255, 122, 0, 0.1));
  opacity: 0.7;
}

.sale {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -71px);
          transform: translate(0, -71px);
  text-align: center;
}

.sale-count {
  font-size: 110px;
  font-weight: bold;
  color: #222222;
}

.sale-count::after {
  content: "%";
  font-size: 55px;
}

.sale-text {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #222222;
}

.search-input {
  width: 100%;
  height: 52px;
  margin-top: 24px;
  outline: none;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 50px;
  position: relative;
  -webkit-appearance: none;
  color: #DFDFDF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-input:hover {
  border: 1px solid #9A9A9A;
}

.search-input:focus {
  border: 1px solid #FF7A00;
}

.search-input::-webkit-input-placeholder {
  color: #DFDFDF;
}

.search-input::-moz-placeholder {
  color: #DFDFDF;
}

.search-input:-ms-input-placeholder {
  color: #DFDFDF;
}

.search-input::-ms-input-placeholder {
  color: #DFDFDF;
}

.search-input::placeholder {
  color: #DFDFDF;
}

.search-button {
  display: none;
}

.search-ico {
  position: absolute;
  top: 517px;
  left: 30px;
  z-index: 20;
}

.filters {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 0px 5px 25px -2px #DFDFDF;
          box-shadow: 0px 5px 25px -2px #DFDFDF;
  margin-bottom: 20px;
}
.filters .filters-text {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FF7A00;
  font-family: "montserrat", sans-serif;
  padding: 15px 0 0 8px;
}
.filters .filter-button {
  padding: 15px 0;
  margin-left: 8px;
}
.filters .trash {
  display: none;
}
.filters .view-button {
  display: inline-block;
  background-image: url(../img/images/icon-view.svg);
  height: 24px;
  width: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.filters .view-button::before {
  content: "";
  display: inline-block;
  background-image: url(../img/images/prime-view.svg);
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
}
.filters .trash:checked + .view-button::before {
  opacity: 1;
}
.filters .view-popup {
  display: none;
  position: absolute;
  width: 124px;
  top: 65px;
  right: 0;
  -webkit-box-shadow: 0px 5px 25px -2px #DFDFDF;
          box-shadow: 0px 5px 25px -2px #DFDFDF;
  background-color: #fff;
  border-radius: 5px;
}
.filters .view-popup .view-item {
  font-size: 16px;
  line-height: 20px;
  padding-left: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
.filters .view-popup .view-item:nth-child(2) {
  color: #FF7A00;
}
.filters .view-popup .view-item:nth-child(1) {
  margin-top: 5px;
}
.filters .view-popup .view-item:nth-child(4) {
  margin-bottom: 5px;
}
.filters .view-popup .path {
  position: absolute;
  top: 45px;
  left: 6px;
}
.filters .view-option {
  min-width: 100%;
  background-color: #fff;
  position: absolute;
  top: 60px;
  right: 0px;
  display: none;
  z-index: 1000;
  padding-top: 65px;
}
.filters .view-option .view-option-oil-1::after {
  content: "SALE";
  color: #fff;
  background-color: #FF7A00;
  padding: 3px 30px;
  font-size: 13px;
  line-height: 16px;
  position: absolute;
  border-radius: 4px;
  top: 45px;
  font-weight: bold;
  left: 0px;
  z-index: 100;
  -webkit-box-shadow: 0px 5px 25px -2px #DFDFDF;
          box-shadow: 0px 5px 25px -2px #DFDFDF;
}
.filters .view-option .view-option-oil-3::after {
  content: "SALE";
  color: #fff;
  background-color: #FF7A00;
  padding: 3px 30px;
  font-size: 13px;
  line-height: 16px;
  position: absolute;
  border-radius: 4px;
  top: 290px;
  font-weight: bold;
  left: 0px;
  z-index: 100;
  -webkit-box-shadow: 0px 5px 25px -2px #DFDFDF;
          box-shadow: 0px 5px 25px -2px #DFDFDF;
}
.filters .view-option .view-option-oil-2 {
  margin-top: 20px;
}
.filters .view-option .view-option-oil-3 {
  margin-top: 35px;
}
.filters .view-option .view-option-oil-4 {
  margin-top: 20px;
}
.filters .view-option .view-option-oil-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filters .view-option .view-option-oil-card .view-option-oil-img {
  height: 94px;
  width: 94px;
  -webkit-box-shadow: 0px 5px 25px -2px #DFDFDF;
          box-shadow: 0px 5px 25px -2px #DFDFDF;
}
.filters .view-option .view-option-oil-card .view-option-text-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8px;
}
.filters .view-option .view-option-oil-card .view-option-text-buttons .view-option-oil-heading {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  font-weight: bold;
}
.filters .view-option .view-option-oil-card .view-option-text-buttons .view-option-oil-price {
  font-size: 16px;
  line-height: 20px;
  color: #FF7A00;
  font-weight: bold;
}
.filters .view-option .view-option-oil-card .view-option-text-buttons .view-option-shop-now-btn {
  text-decoration: none;
  color: #222222;
  padding: 12px 16px;
  border: 1px solid #222222;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.filters .view-option .view-option-oil-card .view-option-text-buttons .view-option-plus-btn {
  text-decoration: none;
  font-size: 40px;
  color: #222222;
  padding: 0 11px;
  border: 1px solid #222222;
  border-radius: 5px;
  margin-left: 8px;
}
.filters .view-option .view-option-oil-card .view-option-text-buttons .view-option-oil-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.filters .view-option .second-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px;
}
.filters .view-option .view-layout-2-oil-1,
.filters .view-option .view-layout-2-oil-2,
.filters .view-option .view-layout-2-oil-3,
.filters .view-option .view-layout-2-oil-4 {
  margin-bottom: 16px;
}
.filters .view-option .view-layout-2-oil-1::after {
  content: "SALE";
  color: #fff;
  background-color: #FF7A00;
  padding: 3px 30px;
  font-size: 13px;
  line-height: 16px;
  position: absolute;
  border-radius: 4px;
  top: 635px;
  font-weight: bold;
  left: 0px;
  z-index: 100;
  -webkit-box-shadow: 0px 5px 25px -2px #DFDFDF;
          box-shadow: 0px 5px 25px -2px #DFDFDF;
}
.filters .view-option .view-layout-2-oil-4::after {
  content: "SALE";
  color: #fff;
  background-color: #FF7A00;
  padding: 3px 30px;
  font-size: 13px;
  line-height: 16px;
  position: absolute;
  border-radius: 4px;
  top: 830px;
  font-weight: bold;
  left: 155px;
  z-index: 100;
  -webkit-box-shadow: 0px 5px 25px -2px #DFDFDF;
          box-shadow: 0px 5px 25px -2px #DFDFDF;
}
.filters .view-option .view-layout-2-oil-img {
  height: 136px;
  width: 136px;
  -webkit-box-shadow: 0px 5px 25px -2px #DFDFDF;
          box-shadow: 0px 5px 25px -2px #DFDFDF;
}
.filters .view-option .view-layout-2-oil-heading {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  font-weight: bold;
}
.filters .view-option .view-layout-2-oil-price {
  font-size: 16px;
  line-height: 20px;
  color: #FF7A00;
  font-weight: bold;
}
.filters .filters-popup {
  min-width: 100%;
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: 0;
  display: none;
  z-index: 1000;
}
.filters .filters-popup .close-button {
  position: absolute;
  top: 35px;
  right: 0px;
}
.filters .filters-popup .choose-something-title {
  margin-top: 95px;
  padding: 15px;
  background-color: #FFF2E5;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #FF7A00;
  font-weight: bold;
  margin-bottom: 10px;
}
.filters .filters-popup .choose-check-list-item {
  padding-left: 60px;
  position: relative;
}
.filters .filters-popup .choose-check-list-item .default {
  display: none;
}
.filters .filters-popup .choose-check-list-item .new-checkbox {
  display: inline-block;
  background-image: url(../img/images/checkbox-empty.svg);
  height: 24px;
  width: 24px;
  position: absolute;
  top: -3px;
  left: 30px;
}
.filters .filters-popup .choose-check-list-item .new-checkbox::before {
  content: "";
  display: inline-block;
  background-image: url(../img/images/checkbox-filled.svg);
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
}
.filters .filters-popup .choose-check-list-item .default:checked + .new-checkbox::before {
  opacity: 1;
}
.filters .filters-popup .choose-check-list-item:not(:last-child) {
  padding-bottom: 8px;
}
.filters .filters-popup .choose-something-section-radio .choose-something-title-2 {
  margin-top: 15px;
  padding: 15px;
  background-color: #FFF2E5;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #FF7A00;
  font-weight: bold;
  margin-bottom: 10px;
}
.filters .filters-popup .choose-something-section-radio .choose-radio-list-item {
  padding-left: 60px;
  position: relative;
}
.filters .filters-popup .choose-something-section-radio .choose-radio-list-item .default {
  display: none;
}
.filters .filters-popup .choose-something-section-radio .choose-radio-list-item .new-radio {
  display: inline-block;
  background-image: url(../img/images/radio-empty.svg);
  height: 24px;
  width: 24px;
  position: absolute;
  top: -3px;
  left: 30px;
}
.filters .filters-popup .choose-something-section-radio .choose-radio-list-item .new-radio::before {
  content: "";
  display: inline-block;
  background-image: url(../img/images/radio-filled.svg);
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
}
.filters .filters-popup .choose-something-section-radio .choose-radio-list-item .default:checked + .new-radio::before {
  opacity: 1;
}
.filters .filters-popup .choose-something-section-radio .choose-radio-list-item:not(:last-child) {
  padding-bottom: 8px;
}
.filters .filters-popup .choose-something-section-slider .choose-something-title-3 {
  margin-top: 15px;
  padding: 15px;
  background-color: #FFF2E5;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #FF7A00;
  font-weight: bold;
  margin-bottom: 10px;
}
.filters .filters-popup .choose-something-section-slider .from-to-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}
.filters .filters-popup .choose-something-section-slider .from-to-boxes .from-box {
  margin-right: 24px;
  margin-left: 16px;
}
.filters .filters-popup .choose-something-section-slider .from-to-boxes .from-text, .filters .filters-popup .choose-something-section-slider .from-to-boxes .to-text {
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding-left: 8px;
  margin-bottom: 11px;
}
.filters .filters-popup .choose-something-section-slider .from-to-boxes .from-number, .filters .filters-popup .choose-something-section-slider .from-to-boxes .to-number {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  padding: 8px 56px 8px 8px;
  -webkit-box-shadow: 0px 5px 25px -2px #DFDFDF;
          box-shadow: 0px 5px 25px -2px #DFDFDF;
  border-radius: 5px;
}
.filters .filters-popup .choose-something-section-slider .choose-something-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 74px;
}
.filters .filters-popup .choose-something-section-slider .choose-something-button-container .choose-something-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  padding: 16px 32px;
  border: 1px solid #222222;
  border-radius: 5px;
  display: inline-block;
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
}

.oil-wrapper {
  padding-left: 32px;
  padding-right: 32px;
}

.oil-img {
  margin-top: 32px;
  -webkit-box-shadow: 0px 4px 13px -4px #6d6d6d;
          box-shadow: 0px 4px 13px -4px #6d6d6d;
  width: 100%;
}

.oil-text {
  margin-top: 24px;
}
.oil-text .oil-heading {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  font-weight: bold;
}
.oil-text .oil-p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}
.oil-text .oil-price {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #FF7A00;
}

.oil-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}
.oil-buttons .shop-now-btn {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  padding: 16px 29px;
  font-weight: bold;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.oil-buttons .plus-btn {
  text-decoration: none;
  font-size: 50px;
  color: #222222;
  padding: 0 13px;
  border: 1px solid #222222;
  border-radius: 5px;
  margin-left: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.oil-card-2 {
  margin-top: 60px;
  position: relative;
}
.oil-card-2 .oil-heading::after {
  content: "SALE";
  color: #fff;
  background-color: #FF7A00;
  padding: 11px 43px;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  border-radius: 4px;
  top: 15px;
  left: -25px;
  z-index: 100;
  -webkit-box-shadow: 0px ​1px 9px -3px #6d6d6d;
          box-shadow: 0px ​1px 9px -3px #6d6d6d;
}

.oil-card-3 {
  margin-top: 60px;
  margin-bottom: 44px;
}

.oil-card-4, .oil-card-5,
.oil-card-6 {
  display: none;
}

.popular-heading {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #FF7A00;
}

.popular-oil-card-2,
.popular-oil-card-3,
.popular-oil-card-4 {
  display: none;
}

.arrows-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  margin-bottom: 120px;
}
.arrows-container .arrow-left {
  padding: 16px;
}
.arrows-container .arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding: 16px;
}

.footer {
  background-color: #222222;
}
.footer .footer-logo {
  padding-top: 24px;
}
.footer .logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .logo-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 66px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .logo-text-container::after {
  content: "☻";
  color: #FF7A00;
  position: absolute;
  top: 20px;
  left: 75px;
}
.footer .footer-menu {
  margin-top: 16px;
}
.footer .footer-menu .menu-element a {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  padding: 8px;
}
.footer .footer-menu .active-link a {
  font-weight: bold;
  color: #FF7A00;
  position: relative;
}
.footer .footer-menu .active-link a::after {
  content: "•";
  position: absolute;
  top: 8px;
  left: -8px;
}
.footer .shop-adress {
  margin-top: 12px;
}
.footer .shop-adress .adress-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-top: 10px;
  text-transform: uppercase;
}
.footer .shop-adress .shop-city {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding-top: 8px;
}
.footer .shop-adress .shop-street {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding-top: 8px;
}
.footer .shop-contacts {
  margin-top: 12px;
}
.footer .shop-contacts .contacts-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
}
.footer .shop-contacts .shop-email a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding-top: 8px;
}
.footer .shop-contacts .shop-tel a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding-top: 8px;
}
.footer .follow-us {
  margin-top: 12px;
}
.footer .follow-us .contacts-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
}
.footer .follow-us .social-wrapper {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 64px;
}
.footer .follow-us .social-wrapper a:not(:last-child) {
  padding-right: 5px;
}

/* mobile end*/
/*tablet start*/
@media screen and (min-width: 769px) {
  .header .burger-button, .header .shopping-basket {
    padding: 33px 0;
  }

  .logo-link {
    display: none;
  }

  .header-menu {
    display: none;
  }

  .header-buttons-wrapper {
    display: none;
  }

  .wrapper {
    padding-right: 32px;
    padding-left: 32px;
  }

  .main-pic {
    background-image: url(../img/images/tablet-mainscreenphoto.png);
    background-size: 100%;
    background-position: 100% 100%;
    height: 419px;
  }

  .main-pic:before {
    content: "";
    height: 419px;
    background-image: -webkit-gradient(linear, left top, right top, from(#DA6401), to(rgba(255, 122, 0, 0.1)));
    background-image: linear-gradient(to right, #DA6401, rgba(255, 122, 0, 0.1));
  }

  .sale {
    -webkit-transform: translate(0, -85px);
            transform: translate(0, -85px);
  }

  .sale-count {
    font-size: 130px;
  }

  .sale-text {
    font-size: 40px;
  }

  .search-input {
    border: 1px solid #DFDFDF;
    color: #DFDFDF;
    width: 80%;
  }

  .search-input::-webkit-input-placeholder {
    color: #DFDFDF;
  }

  .search-input::-moz-placeholder {
    color: #DFDFDF;
  }

  .search-input:-ms-input-placeholder {
    color: #DFDFDF;
  }

  .search-input::-ms-input-placeholder {
    color: #DFDFDF;
  }

  .search-input::placeholder {
    color: #DFDFDF;
  }

  .search-ico {
    top: 555px;
    left: 50px;
  }

  .search-button {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 16px 30px;
    border-radius: 5px;
    background-color: #FF7A00;
    margin-left: 7px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .search-button:hover {
    background-color: #DA6401;
  }

  .filters-beardoil-wrapper {
    display: block;
  }

  .filters .filters-text {
    text-transform: capitalize;
    font-size: 32px;
    padding-left: 32px;
  }

  .filters .filters-popup .close-button {
    right: 20px;
  }

  .filters .filters-popup {
    display: block;
    position: absolute;
    top: -625px;
    min-width: 330px;
    left: -32px;
    padding-right: 20px;
    padding-left: 22px;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
    -webkit-transition: -webkit-transform 300ms ease-in;
    transition: -webkit-transform 300ms ease-in;
    transition: transform 300ms ease-in;
    transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  }

  .filters-popup.visible {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }

  .oil-wrapper {
    padding-left: 54px;
    padding-right: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .oil-card-2 {
    margin-top: 0px;
  }

  .oil-card-3 {
    margin-top: 0;
  }

  .oil-card-4, .oil-card-5,
.oil-card-6 {
    display: block;
  }

  .oil-card-2 .oil-heading::after {
    display: none;
  }

  .oil-card-3 .oil-heading::after {
    content: "SALE";
    color: #fff;
    background-color: #FF7A00;
    padding: 11px 43px;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    border-radius: 4px;
    top: 1175px;
    left: 100px;
    z-index: 1000;
    display: block;
    -webkit-box-shadow: 0px ​1px 9px -3px #6d6d6d;
            box-shadow: 0px ​1px 9px -3px #6d6d6d;
  }

  .oil-card-5 .oil-heading::after {
    content: "SALE";
    color: #fff;
    background-color: #FF7A00;
    padding: 11px 43px;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    border-radius: 4px;
    top: 1680px;
    left: 100px;
    z-index: 1000;
    display: block;
    -webkit-box-shadow: 0px ​1px 9px -3px #6d6d6d;
            box-shadow: 0px ​1px 9px -3px #6d6d6d;
  }

  .oil-buttons .shop-now-btn:hover {
    background-color: #FFF2E5;
  }

  .oil-buttons .plus-btn:hover {
    background-color: #3D3A37;
  }

  .popular-heading {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    color: #FF7A00;
    margin-top: 90px;
    padding-left: 55px;
  }

  .popular-oil-card-2,
.popular-oil-card-3,
.popular-oil-card-4 {
    display: block;
  }

  .popular-oil-card-3,
.popular-oil-card-4 {
    margin-top: 30px;
  }

  .popular-oil-card,
.popular-oil-card-2,
.popular-oil-card-3,
.popular-oil-card-4 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .oil-card, .oil-card-2, .oil-card-3,
.oil-card-4, .oil-card-5, .oil-card-6 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .popular-oil-card-3::after {
    content: "SALE";
    color: #fff;
    background-color: #FF7A00;
    padding: 11px 43px;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    font-weight: bold;
    border-radius: 4px;
    top: 2765px;
    left: 100px;
    z-index: 1000;
    display: block;
    -webkit-box-shadow: 0px ​1px 9px -3px #6d6d6d;
            box-shadow: 0px ​1px 9px -3px #6d6d6d;
  }

  .arrows-container {
    position: absolute;
    top: 190px;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .arrow-left {
    margin-left: 25px;
    height: 30px;
  }

  .arrow-right {
    margin-right: 25px;
    height: 30px;
  }

  .popular {
    padding-bottom: 164px;
  }

  .blade-img {
    height: 50px;
    width: 30px;
  }

  .barber-img {
    height: 16px;
    width: 94px;
  }

  .shop-img {
    height: 28px;
    width: 94px;
  }

  .footer .logo-text-container::after {
    top: 32px;
    left: 100px;
  }

  .footer {
    padding-top: 25px;
  }

  .footer-elements-not-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 30%;
    padding-bottom: 100px;
  }

  .footer .shop-adress .adress-heading {
    margin-top: 50px;
  }

  .footer .follow-us .contacts-heading {
    margin-top: 75px;
  }

  .footer-logo {
    position: absolute;
  }

  .footer .shop-contacts .shop-email a {
    padding-top: 0px;
    margin-top: 30px;
  }

  .footer .shop-contacts .shop-tel a {
    padding-top: 0px;
    margin-top: 24px;
  }

  .footer .follow-us {
    margin-top: 32px;
  }

  .footer .shop-adress .shop-city {
    padding-top: 30px;
  }

  .footer .shop-adress .shop-street {
    padding-top: 24px;
  }
}
/* tablet end*/
/*-small laptop start*/
@media screen and (min-width: 1031px) {
  .oil-card-3 .oil-heading::after {
    top: 710px;
    left: 100px;
  }

  .oil-card-5 .oil-heading::after {
    top: 1215px;
    left: 100px;
  }

  .oil-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .popular-oil-card-3::after {
    top: 1810px;
  }

  .popular-oil-card-3, .popular-oil-card-4 {
    margin-top: 0px;
  }
}
/*-small laptop end*/
/*laptop start*/
@media screen and (min-width: 1920px) {
  .wrapper {
    padding-right: 360px;
    padding-left: 360px;
  }

  .header .logo-link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    top: 30px;
    margin-bottom: auto;
  }
  .header .logo-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .header .logo-text-container::after {
    content: "☻";
    color: #FF7A00;
    position: absolute;
    top: 30px;
    left: 100px;
  }
  .header .burger-button {
    display: none;
  }
  .header .header-menu {
    margin-left: 225px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  .header .header-menu .menu-element a {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    padding: 8px;
  }
  .header .header-menu .menu-element a {
    margin-left: 44px;
  }
  .header .header-menu .active-link a {
    font-weight: bold;
    color: #FF7A00;
    position: relative;
  }
  .header .header-menu .active-link a::after {
    content: "•";
    position: absolute;
    top: 8px;
    left: -8px;
  }
  .header .header-menu .blade-img {
    height: 50px;
    width: 28px;
  }
  .header .header-menu .barber-img {
    height: 18px;
    width: 93px;
  }
  .header .header-menu .shop-img {
    height: 32px;
    width: 93px;
  }
  .header .shopping-basket {
    margin-left: 150px;
  }
  .header .header-buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .header-buttons-wrapper .contact-us-button a {
    color: #fff;
    padding: 16px 32px;
    border: 1px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    font-weight: bold;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header .header-buttons-wrapper .book-now-button a {
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #FF7A00;
    border: 1px solid transparent;
    margin-left: 8px;
  }

  .main-pic {
    background-image: url(../img/images/laptop-mainscreenphoto.png);
    background-size: 100%;
    background-position: 100% 100%;
    height: 500px;
  }

  .main-pic:before {
    content: "";
    height: 500px;
    background-image: -webkit-gradient(linear, left top, right top, from(#FF7A00), to(rgba(255, 122, 0, 0.1)));
    background-image: linear-gradient(to right, #FF7A00, rgba(255, 122, 0, 0.1));
  }

  .sale {
    -webkit-transform: translate(0, -85px);
            transform: translate(0, -85px);
  }

  .arrows-container {
    top: 250px;
  }
  .arrows-container .arrow-right {
    margin-right: 300px;
    height: 50px;
  }
  .arrows-container .arrow-left {
    height: 50px;
    margin-left: 300px;
  }

  .search-field {
    width: 70%;
  }
  .search-field .search-ico {
    left: 380px;
    top: 635px;
  }

  .beard-oil .wrapper {
    padding: 0;
  }

  .oil-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }

  .filters-beardoil-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 360px;
    padding-right: 360px;
  }
  .filters-beardoil-wrapper .wrapper {
    padding: 0;
  }

  .filters {
    position: relative;
    width: 310px;
  }
  .filters .filters-text {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .filters .filter-button {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .filters .view-button {
    display: none;
  }
  .filters .filters-popup {
    -webkit-transition: none;
    transition: none;
    padding: 0 8px;
    top: 0;
    left: 0;
    margin-top: 80px;
    display: block;
    position: inherit;
    min-width: 292px;
    -webkit-transform: translateX(-170px);
            transform: translateX(-170px);
    -webkit-box-shadow: 0px 5px 25px -2px #DFDFDF;
            box-shadow: 0px 5px 25px -2px #DFDFDF;
  }
  .filters .filters-popup .choose-something-section-slider .from-to-boxes {
    margin-bottom: 45px;
  }
  .filters .filters-popup .choose-something-section-slider .choose-something-button-container {
    margin-bottom: 65px;
  }
  .filters .filters-popup .close-button {
    display: none;
  }
  .filters .filters-popup .choose-something-title, .filters .filters-popup .choose-something-title-2,
.filters .filters-popup .choose-something-title-3 {
    margin-top: 0;
    display: inline-block;
    width: 265px;
  }
  .filters .filters-popup .choose-something-section-radio {
    width: 310px;
  }
  .filters .filters-popup .choose-something-section-checkbox {
    width: 310px;
  }
  .filters .filters-popup .choose-something-section-slider {
    width: 310px;
  }

  .oil-card-3 .oil-heading::after {
    top: 1195px;
    left: 1265px;
  }

  .popular .popular-heading {
    text-transform: capitalize;
    font-size: 64px;
  }
  .popular .oil-wrapper {
    margin-top: 64px;
  }

  .oil-card-5 .oil-heading::after {
    top: 1850px;
    left: 345px;
  }

  .popular-oil-card-3::after {
    top: 1850px;
    left: 955px;
  }

  .menu-adress-wrapper,
.contacts-follow-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer .follow-us {
    margin-top: 0;
  }
  .footer .footer-logo {
    padding-top: 0;
  }
  .footer .shop-contacts .contacts-heading {
    margin-top: 0;
  }
  .footer .follow-us .contacts-heading, .footer .shop-adress .adress-heading {
    margin-top: 0;
  }
  .footer .follow-us {
    margin-left: 60px;
  }
  .footer .shop-contacts, .footer .shop-adress {
    margin-top: 0px;
  }
  .footer .footer-menu {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    margin-right: 300px;
  }
  .footer .footer-elements-not-logo {
    margin-left: 15%;
  }
}
/*laptop end*//*# sourceMappingURL=style.css.map */