@import "variables";

@font-face {
    font-family: "montserrat";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/montserrat/montserrat-regular-webfont.woff2)
}

@font-face {
    font-family: "montserrat";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/montserrat/montserrat-bold-webfont.woff2)
}

@font-face {
    font-family: "montserrat";
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/montserrat/montserrat-light-webfont.woff2)
}


body {
    box-sizing: border-box;
    font-family: "montserrat" , sans-serif;
}

a {
    display: block  ;
}

.header {
    background-color: #222222;
    position: relative;
    box-shadow: -2px 2px 17px 1px $dark;
    z-index: 1337;

    .logo-link {
        display: none;
    }
    
    .buttons-container {
        display: flex;
        justify-content: space-between;
    }

    .header-buttons-wrapper {
        display: none;
    }

    .burger-button {
        padding: 18px 0;
        display: inline-block;
    }

    .shopping-basket {
        padding: 18px 0;
        display: inline-block;
    }

    .header-menu {
        display: none;
    }

}

.wrapper {
    padding-right: 16px;
    padding-left: 16px;
}

.filters-beardoil-wrapper {
    display: block;
}

.pic-wrapper {
    min-width: 320px;
    position: relative;
}
.main-pic {
    background-image: url(../img/images/mainscreenphoto.png);
    background-repeat: no-repeat;
    background-size: 340%;
    background-position: 90% 25%;
    height: 409px;
    position: relative;
}

.main-pic:before {
	content: "";
	display: block;    
	width: 100%;
	height: 409px;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to bottom, $primary-color, rgba(255, 122, 0, 0.1));
	opacity: 0.7;
}

.sale {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate( 0, -71px);
    text-align: center;
}

.sale-count {
    font-size: 110px;
    font-weight: bold;
    color: $dark;
}

.sale-count::after {
    content: "%";
    font-size: 55px;
}

.sale-text {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark;
}

.search-input {
    width: 100%;
    height: 52px;
    margin-top: 24px;
    outline: none;
    border: 1px solid $light-grey;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 50px;
    position: relative;
    -webkit-appearance: none;
    color: $light-grey;
    transition: 0.4s;
}
.search-input:hover {
    border: 1px solid $grey;
}

.search-input:focus {
    border: 1px solid $primary-color;
}



.search-input::placeholder {
    color: $light-grey;
}

.search-button {
    display: none;
}

.search-ico {
    position: absolute;
    top: 517px;
    left: 30px;
    z-index: 20;
}

.filters {
    margin-top: 30px;
    display: flex;
    position: relative;
    box-shadow: 0px 5px 25px -2px $light-grey;
    margin-bottom: 20px;
    
    .filters-text {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: $primary-color;
        font-family: "montserrat" , sans-serif;
        padding: 15px 0 0 8px;
    }

    .filter-button {
        padding: 15px 0;
        margin-left: 8px;
    }

    .trash {
        display: none;
    }

    .view-button {
       display: inline-block;
       background-image: url(../img/images/icon-view.svg);
       height: 24px;
       width: 24px;
       position: absolute;
       top: 15px;
       right: 15px;
    }

    .view-button::before {
        content: "";
        display: inline-block;
       background-image: url(../img/images/prime-view.svg);
       height: 24px;
       width: 24px;
       position: absolute;
       top: 0px;
       right: 0px;
       opacity: 0;
    }

    .trash:checked + .view-button::before {
        opacity: 1;
    }

    .view-popup {
        display: none;
        position: absolute;
        width: 124px;
        top: 65px;
        right: 0;
        box-shadow: 0px 5px 25px -2px $light-grey;
        background-color: #fff;
        border-radius: 5px;

        .view-item {
            font-size: 16px;
            line-height: 20px;
            padding-left: 26px;
            padding-top: 5px;
            padding-bottom: 5px;
            position: relative;

            &:nth-child(2) {
                color: $primary-color;
            }

            &:nth-child(1) {
                margin-top: 5px;
            }

            &:nth-child(4) {
                margin-bottom: 5px;
            }
        }

        .path {
            position: absolute;
            top: 45px;
            left: 6px;
        }
    }

    .view-option {
        min-width: 100%;
        background-color: #fff;
        position: absolute;
        top: 60px;
        right: 0px;
        display: none;
        z-index: 1000;
        padding-top: 65px;

        .view-option-oil-1::after {
            content: "SALE";
            color: #fff;
            background-color: #FF7A00;
            padding: 3px 30px;
            font-size: 13px;
            line-height: 16px;
            position: absolute;
            border-radius: 4px;
            top: 45px;
            font-weight: bold;
            left: 0px;
            z-index: 100;
            box-shadow: 0px 5px 25px -2px $light-grey;
        }

        .view-option-oil-3::after {
            content: "SALE";
            color: #fff;
            background-color: #FF7A00;
            padding: 3px 30px;
            font-size: 13px;
            line-height: 16px;
            position: absolute;
            border-radius: 4px;
            top: 290px;
            font-weight: bold;
            left: 0px;
            z-index: 100;
            box-shadow: 0px 5px 25px -2px $light-grey;
        }


        .view-option-oil-2 {
            margin-top: 20px;
        }
        .view-option-oil-3 {
            margin-top: 35px;
        }
        .view-option-oil-4 {
            margin-top: 20px;
        }

        .view-option-oil-card {
            display: flex;

            .view-option-oil-img {
                height: 94px;
                width: 94px;
                box-shadow: 0px 5px 25px -2px $light-grey;
            }
            
            .view-option-text-buttons {
                display: flex;
                flex-direction: column;
                margin-left: 8px;
                .view-option-oil-heading {
                    font-size: 16px;
                    line-height: 20px;
                    color: $dark;
                    font-weight: bold;
                }
    
                .view-option-oil-price {
                    font-size: 16px;
                    line-height: 20px;
                    color: $primary-color;
                    font-weight: bold;
                }
    
                .view-option-shop-now-btn {
                    text-decoration: none;
                    color: $dark;
                    padding: 12px 16px;
                    border: 1px solid $dark;
                    border-radius: 5px;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                }

                .view-option-plus-btn {
                    text-decoration: none;
                    font-size: 40px;
                    color: $dark;
                    padding: 0 11px;
                    border: 1px solid $dark;
                    border-radius: 5px;  
                    margin-left: 8px;
                }

                .view-option-oil-buttons {
                    display: flex;
                    margin-top: 10px;
                }
            }
        }
        .second-layout {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 120px;
            justify-content: space-between;
            margin-bottom: 64px;
        }

        .view-layout-2-oil-1,
        .view-layout-2-oil-2,
        .view-layout-2-oil-3, 
        .view-layout-2-oil-4 {
            margin-bottom: 16px;
        }
        
        .view-layout-2-oil-1::after {
            content: "SALE";
            color: #fff;
            background-color: #FF7A00;
            padding: 3px 30px;
            font-size: 13px;
            line-height: 16px;
            position: absolute;
            border-radius: 4px;
            top: 635px;
            font-weight: bold;
            left: 0px;
            z-index: 100;
            box-shadow: 0px 5px 25px -2px $light-grey;
        }

        .view-layout-2-oil-4::after {
            content: "SALE";
            color: #fff;
            background-color: #FF7A00;
            padding: 3px 30px;
            font-size: 13px;
            line-height: 16px;
            position: absolute;
            border-radius: 4px;
            top: 830px;
            font-weight: bold;
            left: 155px;
            z-index: 100;
            box-shadow: 0px 5px 25px -2px $light-grey;
        }

        .view-layout-2-oil-img {
            height: 136px;
            width: 136px;
            box-shadow: 0px 5px 25px -2px $light-grey;
           }
           .view-layout-2-oil-heading {
            font-size: 16px;
            line-height: 20px;
            color: $dark;
            font-weight: bold;
           }

           .view-layout-2-oil-price {
            font-size: 16px;
            line-height: 20px;
            color: $primary-color;
            font-weight: bold;
           }
    }

    .filters-popup {
        min-width: 100%;
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        display: none;
        z-index: 1000;

        .close-button {
            position: absolute;
            top: 35px;
            right: 0px;
        }

        .choose-something-title {
            margin-top: 95px;
            padding: 15px;
            background-color: #FFF2E5;
            border-radius: 5px;
            font-size: 16px;
            line-height: 20px;
            color: $primary-color;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .choose-check-list-item {
            padding-left: 60px;
            position: relative;

            .default {
                display: none;
            }
    
    
            .new-checkbox {
                display: inline-block;
                background-image: url(../img/images/checkbox-empty.svg);
                height: 24px;
                width: 24px;
                position: absolute;
                top: -3px;
                left: 30px;
             }
         
             .new-checkbox::before {
                content: "";
                display: inline-block;
                background-image: url(../img/images/checkbox-filled.svg);
                height: 24px;
                width: 24px;
                position: absolute;
                top: 0px;
                right: 0px;
                opacity: 0;
             }
         
             .default:checked + .new-checkbox::before {
                 opacity: 1;
             }
        }

        .choose-check-list-item:not(:last-child) {
            padding-bottom: 8px;
        }


        .choose-something-section-radio {

            .choose-something-title-2 {
                margin-top: 15px;
                padding: 15px;
                background-color: #FFF2E5;
                border-radius: 5px;
                font-size: 16px;
                line-height: 20px;
                color: $primary-color;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .choose-radio-list-item {
                padding-left: 60px;
                position: relative;


                .default {
                    display: none;
                }

                .new-radio {
                    display: inline-block;
                    background-image: url(../img/images/radio-empty.svg);
                    height: 24px;
                    width: 24px;
                    position: absolute;
                    top: -3px;
                    left: 30px;
                 }
             
                 .new-radio::before {
                    content: "";
                    display: inline-block;
                    background-image: url(../img/images/radio-filled.svg);
                    height: 24px;
                    width: 24px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    opacity: 0;
                 }
             
                 .default:checked + .new-radio::before {
                     opacity: 1;
                 }
            }

            .choose-radio-list-item:not(:last-child) {
                padding-bottom: 8px;
            }

        }

        .choose-something-section-slider {

            .choose-something-title-3 {
                margin-top: 15px;
                padding: 15px;
                background-color: #FFF2E5;
                border-radius: 5px;
                font-size: 16px;
                line-height: 20px;
                color: $primary-color;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .from-to-boxes {
                display: flex;
                margin-bottom: 70px;

                .from-box {
                    margin-right: 24px;
                    margin-left: 16px;
                }
                .from-text , .to-text {
                    font-size: 16px;
                    line-height: 20px;
                    display: block;
                    padding-left: 8px;
                    margin-bottom: 11px;
                }
    
                .from-number , .to-number {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: bold;
                    padding: 8px 56px 8px 8px;
                    box-shadow: 0px 5px 25px -2px $light-grey;
                    border-radius: 5px;
                }
            }
            
            .choose-something-button-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 74px;
                .choose-something-button {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: bold;
                    padding: 16px 32px;
                    border: 1px solid $dark;
                    border-radius: 5px;
                    display: inline-block;
                    color: $dark;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.oil-wrapper {
    padding-left: 32px;
    padding-right: 32px;
}

.oil-img {
    margin-top: 32px;
    box-shadow: 0px 4px 13px -4px #6d6d6d;
    width: 100%;
}

.oil-text {
    margin-top: 24px;

    .oil-heading {
        font-size: 16px;
        line-height: 20px;
        color: $dark;
        font-weight: bold;
    }

    .oil-p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 4px;
    }

    .oil-price {
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: $primary-color;
    }
}

.oil-buttons {
    display: flex;
    margin-top: 24px;

    .shop-now-btn {
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        color: $dark;
        padding: 16px 29px;
        font-weight: bold;
        border: 1px solid $dark;
        border-radius: 5px;  
        transition: 0.4s
    }

    .plus-btn {
        text-decoration: none;
        font-size: 50px;
        color: $dark;
        padding: 0 13px;
        border: 1px solid $dark;
        border-radius: 5px;  
        margin-left: 8px;
        transition: 0.4s;  
    }
}

.oil-card-2 {
    margin-top: 60px;
    position: relative;

    .oil-heading::after {
        content: "SALE";
        color: #fff;
        background-color: $primary-color;
        padding: 11px 43px;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        border-radius: 4px;
        top: 15px;
        left: -25px;
        z-index: 100;
        box-shadow: 0px ​1px 9px -3px #6d6d6d;
    }
}

.oil-card-3 {
    margin-top: 60px;
    margin-bottom: 44px;
}

.oil-card-4 , .oil-card-5,
.oil-card-6 {
    display: none;
} 

.popular-heading {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: $primary-color;
}

.popular-oil-card-2 , 
.popular-oil-card-3 , 
.popular-oil-card-4 {
    display: none;
}

.arrows-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 120px;
    .arrow-left {
        padding: 16px;
    }

    .arrow-right {
        transform: rotate(180deg);
        padding: 16px;
    }
}

.footer {
    background-color: $dark;

    .footer-logo {
        padding-top: 24px;
    }

    .logo-link{
        display: flex;
    }

    .logo-text-container {
        display: flex;
        flex-direction: column;
        width: 66px;
        position: relative;
        justify-content: center;

        &::after {
            content: "☻";
            color: $primary-color;
            position: absolute;
            top: 20px;
            left: 75px;
        }
    }

    .footer-menu {
        margin-top: 16px;

        .menu-element a{
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            text-decoration: none;
            padding: 8px;
        }

        .active-link a {
            font-weight: bold;
            color: $primary-color;
            position: relative;
            
            &::after {
                content: "•";
                position: absolute;
                top: 8px;
                left: -8px;
            }
        }
    }

    .shop-adress{
        margin-top: 12px;

        .adress-heading {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            margin-top: 10px;
            text-transform: uppercase;
        }

        .shop-city {
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            padding-top: 8px;
        }

        .shop-street {
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            padding-top: 8px;
        }
    }

    .shop-contacts {
        margin-top: 12px;

        .contacts-heading {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            text-transform: uppercase;
            margin-top: 20px;
        }

        .shop-email a{
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            padding-top: 8px;
        }

        .shop-tel a {
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            padding-top: 8px;
        }
    }

    .follow-us {
        margin-top: 12px;

        .contacts-heading {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            text-transform: uppercase;
            margin-top: 20px;
        }

        .social-wrapper {
            padding-top: 16px;
            display: flex;
            padding-bottom: 64px;

            a:not(:last-child) {
                padding-right: 5px ;
            }
        }
    }
}

/* mobile end*/

/*tablet start*/
@media screen and (min-width: 769px) {
    .header .burger-button , .header .shopping-basket{
        padding: 33px 0;
    }

    .logo-link {
        display: none;
    }

    .header-menu {
        display: none;
    }

    .header-buttons-wrapper {
        display: none;
    }

    .wrapper {
        padding-right: 32px;
        padding-left: 32px;
    }

    .main-pic {
        background-image: url(../img/images/tablet-mainscreenphoto.png);
        background-size: 100%;
        background-position: 100% 100%;
        height: 419px;
    }

    .main-pic:before {
        content: "";
        height: 419px;    
        background-image: linear-gradient(to right, $hover-color, rgba(255, 122, 0, 0.1));
    }

    .sale {
        transform: translate(0, -85px);
    }

    .sale-count {
        font-size: 130px;
    }
    .sale-text {
        font-size: 40px;
    }

    .search-input {
        border: 1px solid $light-grey;
        color: $light-grey;
        width: 80%;
    }

    .search-input::placeholder {
        color: $light-grey;
    }

    .search-ico {
        top: 555px;
        left: 50px;
    }

    .search-button {
        display: inline-block;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        padding: 16px 30px;
        border-radius: 5px;
        background-color: $primary-color;
        margin-left: 7px;
        transition: 0.4s;
    }

    .search-button:hover {
       background-color: $hover-color; 
    }

    .filters-beardoil-wrapper {
        display: block;
    }

    .filters .filters-text {
        text-transform: capitalize;
        font-size: 32px;
        padding-left: 32px;
    }

    .filters .filters-popup .close-button {
        right: 20px;
    }

    .filters .filters-popup {
        display: block;
        position: absolute;
        top: -625px;
        min-width: 330px;
        left: -32px;
        padding-right: 20px;
        padding-left: 22px;
        transform: translateX(-400px);
        transition: transform 300ms ease-in;
    }

    .filters-popup.visible {
        transform: translateX(0px);
    }

    .oil-wrapper {
        padding-left: 54px;
        padding-right: 54px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .oil-card-2 {
        margin-top: 0px;
    }

    .oil-card-3 {
        margin-top: 0;
    }

    .oil-card-4 , .oil-card-5 , 
    .oil-card-6 {
        display: block;
    }

    .oil-card-2 .oil-heading::after {
        display: none;
    }

    .oil-card-3 .oil-heading::after {
        content: "SALE";
        color: #fff;
        background-color: $primary-color;
        padding: 11px 43px;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        border-radius: 4px;
        top: 1175px;
        left: 100px;
        z-index: 1000;
        display: block;
        box-shadow: 0px ​1px 9px -3px #6d6d6d;
    }

    .oil-card-5 .oil-heading::after {
        content: "SALE";
        color: #fff;
        background-color: $primary-color;
        padding: 11px 43px;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        border-radius: 4px;
        top: 1680px;
        left: 100px;
        z-index: 1000;
        display: block;
        box-shadow: 0px ​1px 9px -3px #6d6d6d;
    }

    .oil-buttons .shop-now-btn:hover {
        background-color: $light-brand-color;
    }
    
    .oil-buttons .plus-btn:hover {
        background-color: #3D3A37;
    }   

    .popular-heading {
        text-transform: capitalize;
        font-size: 32px;
        font-weight: bold;
        line-height: 40px;
        color: #FF7A00;
        margin-top: 90px;
        padding-left: 55px;
    }

    .popular-oil-card-2 , 
    .popular-oil-card-3 , 
    .popular-oil-card-4 {
        display: block;
    }

    .popular-oil-card-3 , 
    .popular-oil-card-4 {
        margin-top: 30px;
    }

    .popular-oil-card , 
    .popular-oil-card-2 , 
    .popular-oil-card-3 , 
    .popular-oil-card-4 {
        padding-left: 32px;
        padding-right: 32px;
    }

    .oil-card, .oil-card-2, .oil-card-3 , 
    .oil-card-4, .oil-card-5, .oil-card-6 {
        padding-left: 32px;
        padding-right: 32px;
    }

    .popular-oil-card-3::after {
        content: "SALE";
        color: #fff;
        background-color: $primary-color;
        padding: 11px 43px;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        font-weight: bold;
        border-radius: 4px;
        top: 2765px;
        left: 100px;
        z-index: 1000;
        display: block;
        box-shadow: 0px ​1px 9px -3px #6d6d6d;
    }

    .arrows-container {
        position: absolute;
        top: 190px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .arrow-left {
        margin-left: 25px;
        height: 30px;
    }

    .arrow-right {
        margin-right: 25px;
        height: 30px;
    }

    .popular {
        padding-bottom: 164px;
    }

    .blade-img {
        height: 50px;
        width: 30px;
    }

    .barber-img {
        height: 16px;
        width: 94px;
    }

    .shop-img {
        height: 28px;
        width: 94px;
    }

    .footer .logo-text-container::after {
        top: 32px;
        left: 100px;
    }

    .footer {
        padding-top: 25px;
    }

    .footer-elements-not-logo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 30%;
        padding-bottom: 100px;

    }

    .footer .shop-adress .adress-heading {
        margin-top: 50px;
    }
    .footer .follow-us .contacts-heading {
        margin-top: 75px;
    }

    .footer-logo {
        position: absolute;
    }

    .footer .shop-contacts .shop-email a {
        padding-top: 0px;
        margin-top: 30px;
    }
    .footer .shop-contacts .shop-tel a {
        padding-top: 0px;
        margin-top: 24px;
    }

    .footer .follow-us {
        margin-top: 32px;
    }

    .footer .shop-adress .shop-city {
        padding-top: 30px;
    }

    .footer .shop-adress .shop-street {
        padding-top: 24px;
    }
}

/* tablet end*/
/*-small laptop start*/
@media screen and (min-width: 1031px) {

    .oil-card-3 .oil-heading::after {
        top: 710px;
        left: 100px;
    }

    .oil-card-5 .oil-heading::after {
        top: 1215px; 
        left: 100px;
    }

    .oil-wrapper {
        justify-content: flex-start;
    }

    .popular-oil-card-3::after { 
        top: 1810px;
    }

    .popular-oil-card-3, .popular-oil-card-4 {
        margin-top: 0px;
    }
}

/*-small laptop end*/
/*laptop start*/
@media screen and (min-width: 1920px) {
    
    .wrapper {
        padding-right: 360px;
        padding-left: 360px;
    }
    .header {

        .logo-link {
            align-items: center;
            position: absolute;
            display: flex;
            margin-top: auto;
            top: 30px;
            margin-bottom: auto;
        }

        .logo-text-container {
            display: flex;
            flex-direction: column;
            position: relative;

            &::after {
                content: "☻";
                color: $primary-color;
                position: absolute;
                top: 30px;
                left: 100px;
            }
        }
        .burger-button {
            display: none;
        }

        .header-menu {
            margin-left: 225px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transform: translateX(50px);
        
            .menu-element a{
                font-size: 16px;
                line-height: 20px;
                color: #fff;
                text-decoration: none;
                padding: 8px;
            }
    
            .menu-element a {
                margin-left: 44px;
            }
    
            .active-link a {
                font-weight: bold;
                color: $primary-color;
                position: relative;
                
                &::after {
                    content: "•";
                    position: absolute;
                    top: 8px;
                    left: -8px;
                }
            }

            .blade-img {
                height: 50px;
                width: 28px;
            }
    
            .barber-img {
                height: 18px;
                width: 93px;
            }
    
            .shop-img {
                height: 32px    ;
                width: 93px;
            }
        }

        .shopping-basket {
            margin-left: 150px;
        }
        

        .header-buttons-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .contact-us-button a {
                color: #fff;
                padding: 16px 32px;
                border: 1px solid #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 20px;
                border-radius: 5px;
                font-weight: bold;
                transition: 0.4s;
            }

            .book-now-button a{
                color: #fff;
                padding: 16px 32px;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 20px;
                border-radius: 5px;
                font-weight: bold;
                background-color: $primary-color;
                border: 1px solid transparent;
                margin-left: 8px;
            }
        }
    }
    .main-pic {
        background-image: url(../img/images/laptop-mainscreenphoto.png);
        background-size: 100%;
        background-position: 100% 100%;
        height: 500px;
    }

    .main-pic:before {
        content: "";
        height: 500px;    
        background-image: linear-gradient(to right, $primary-color, rgba(255, 122, 0, 0.1));
    }

    .sale {
        transform: translate( 0, -85px);
    }

    .arrows-container {
        top: 250px;

        .arrow-right {
            margin-right: 300px;
            height: 50px;
        }

        .arrow-left {
            height: 50px;
            margin-left: 300px;
        }
    }

    .search-field {
        width: 70%;
        .search-ico {
            left: 380px;
            top: 635px;
        }
    }

    .beard-oil .wrapper {
        padding: 0;
    }

    .oil-wrapper {
         padding-left: 0px; 
         padding-right: 0px;
    }

    .filters-beardoil-wrapper {
        display: flex;
        flex-direction: row;
        padding-left: 360px;
        padding-right: 360px;
        .wrapper {
            padding: 0;
        }
    }

    .filters {
        position: relative;
        width: 310px;

        .filters-text {
            padding-top: 32px;
            padding-bottom: 32px;
        }

        .filter-button {
            padding-top: 32px;
            padding-bottom: 32px;
        }

        .view-button {
            display: none;
        }

        .filters-popup {
            transition: none;
            padding: 0 8px;
            top: 0;
            left: 0;
            margin-top: 80px;
            display: block;
            position: inherit;
            min-width: 292px;
            transform: translateX(-170px);
            box-shadow: 0px 5px 25px -2px $light-grey;

            .choose-something-section-slider .from-to-boxes {
                margin-bottom: 45px;
            }

            .choose-something-section-slider
             .choose-something-button-container {
                margin-bottom: 65px;
            
            }

            .close-button {
                display: none;
            }

            .choose-something-title , .choose-something-title-2 , 
            .choose-something-title-3 {
                margin-top: 0;
                display: inline-block;
                width: 265px;
            }

            .choose-something-section-radio {
                width: 310px;
            }

            .choose-something-section-checkbox {
                width: 310px;
            }

            .choose-something-section-slider {
                width: 310px;
            }

        }
    }

    .oil-card-3 .oil-heading::after {
        top: 1195px;
        left: 1265px;
    }

    .popular {
        .popular-heading {
            text-transform: capitalize;
            font-size: 64px;
        }   
        .oil-wrapper  {
            margin-top: 64px;
        }

    }
    .oil-card-5 .oil-heading::after {
        top: 1850px;
        left: 345px;
    }
    .popular-oil-card-3::after {
        top: 1850px;
        left: 955px;
    }

    .menu-adress-wrapper , 
    .contacts-follow-wrapper {
        display: flex;
    }

    .footer {
 
        .follow-us {
            margin-top: 0;
        }
        
        .footer-logo {
            padding-top: 0;
        }

        .shop-contacts .contacts-heading {
            margin-top: 0;
        }

        .follow-us .contacts-heading , .shop-adress .adress-heading  {
            margin-top: 0;
        }

        .follow-us {
            margin-left: 60px;
        }

        .shop-contacts, .shop-adress {
            margin-top: 0px;
        }

        .footer-menu {
            transform: translateY(-25px);
            margin-right: 300px;
        }

        .footer-elements-not-logo {
            margin-left: 15%;
        }
    }
}

/*laptop end*/


